<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainPage.css') }}">

</head>
<body>
<h1>Práctica 2 SI</h1>
            <h2>Top X de IPs de origen más problemáticas:</h2>
            <form action="topIPs" method="POST">
                <label for="nombre">Ingresa tu número:</label>
                <input type="number" id="topIPs" name="topIPs"><br>
                <button type="submit">Ver</button><br>
            </form>
            <h2>Top X de dispositivos más vulnerables:</h2>
            <form action="topDevices" method="POST">
                <label>Ingresa tu número:</label>
                <input type="number" id="topDevices" name="topDevices"><br>
                <button type="submit">Ver</button><br>
            </form>
            <h2>Top X dispositivos peligrosos:</h2>
            <form action="dangerDev" method="POST">
                <label for="nombre">Ingresa tu número:</label>
                <input type="number" id="dangerDev" name="dangerDev"><br>
                <input type="checkbox" id="dangerCheck" name="dangerCheck"> mostrar información de dispositivios peligrosos<br>
                <input type="checkbox" id="noDangerCheck" name="noDangerCheck"> mostrar información de dispositivios no peligrosos<br>
                <button type="submit">Ver</button><br>
            </form>
            <h2>Últimas 10 vulnerabilidades:</h2>
            <button> <a href="/last10cve"> Ver</a></button><br>


            </form>
            <h2>Zona usuarios:</h2>
            <form action="login" method="POST">
                <label>Usuario:</label>
                <input type="text" id="userName" name="userName"><br>
                <label>Contraseña:</label>
                <input type="password" id="userPass" name="userPass"><br>
                <button type="submit">Ver</button><br>
            </form>
</body>
</html>